html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}
.container {
    width: 100%;
}

.content-wrapper {
    display: flex;
    align-items: start;
}
.sidebanner {
    width: 20vw;
    height: 35vh;
    margin-top: 70px;
    margin-left: 10px;
    background-color: rgb(110, 233, 192);
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    /*border: 1px solid #000;*/
}
.options-input{
    width: 70vw;
    height: 55vh;
    max-height: none;
    background-color: aqua;
    margin-left: 10px;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.banner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(110, 233, 192);
    padding: 2rem;
}

.banner_image {
    max-width: 20%;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5rem;
    border-color: rgb(84, 141, 122);
}

.banner_name {
    white-space: nowrap;
    width: 50%;
    padding: 5rem;
    font-size: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {

    padding: 7px;
}

h2 {
    justify-content: center;
}
.options-items  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

}
.options-items a {
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    color: #333; 
    text-decoration: none;
}

.options-items i {
    margin-right: 8px; /* Space between icon and text */
    color: #555; /* Icon color */
    vertical-align: middle; /* Align icon with text */
}

.options-items a:hover {
    color: #555;
    text-decoration: underline;
}



@media (max-width: 600px) {
    .content-wrapper {
        flex-direction: column;
    }
    .options-input {
        margin-left: 10px;
        width: 90vw;
        min-height: 60vh;
    }

    .sidebanner {
        width: 90vw;
        height: 35vh;
    }
}

@media (max-width: 400px) {
    .sidebanner {
        width: 30vw;
        height: 60vh;
    }
}