* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

.banner {
}
.banner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(110, 233, 192);
  background-image: linear-gradient(
    to right,
    rgb(51, 92, 78),
    rgb(110, 233, 192)
  );
  padding: 2rem;
}

.banner_image {
  max-width: 20%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5rem;
  border-color: rgb(84, 141, 122);
}

.banner_name {
  white-space: nowrap;
  width: 50%;
  padding: 5rem;
  font-size: 50px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 7px;
}

h2 {
  justify-content: center;
}

.options-items {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.options-items a {
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  color: #333;
  text-decoration: none;
}

.options-items i {
  margin-right: 8px;
  color: #555;
  vertical-align: middle;
}

.options-items a:hover {
  color: #555;
  text-decoration: underline;
}

.sidebanner {
  width: 30%;
  margin-left: 3rem;
}

.options-input {
  display: flex;
  width: 60%;
  margin: auto;
}

@media (max-width: 600px) {
  .content-wrapper {
    flex-direction: column;
  }

  .options-input {
    margin-left: 10px;
    width: 90vw;
    min-height: 60vh;
  }

  .sidebanner {
    width: 90vw;
    height: 35vh;
  }
}

@media (max-width: 400px) {
  .sidebanner {
    width: 30vw;
    height: 60vh;
  }
}

.login_button {
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 1rem;
  width: min-content;
  height: min-content;
  background-color: rgb(84, 141, 122);
}

.login_content {
  cursor: pointer;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.menu {
  width: 80%;
  margin: auto;
}

.weekday_buttons {
  width: 100%;
  margin: auto;
}

.weekdays {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.weekday_link {
  background-image: linear-gradient(
    to right,
    rgb(121, 180, 161),
    rgb(110, 233, 192)
  );
  padding: 1rem;
}

.menu_items {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to right,
    rgb(75, 119, 104),
    rgb(110, 233, 192)
  );
  padding: 2rem;
}

.menu_entry {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.menu_item_image {
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0 1rem 1rem 0;
  border: 5px rgb(84, 141, 122) solid;
}

.item_description {
  width: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: 5px rgb(50, 90, 77) solid;
  background-color: rgb(84, 141, 122);
}
